<template>
  <div class="home">
    <input class="input" type="text" placeholder="Search" v-model="search">
    <div class="wrapper">
      <package-list-component v-for="item in toDisplay" :Package="item" :key="item.MD5sum"></package-list-component>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import PackageListComponent from "@/components/PackageListComponent.vue";

export default {
  name: "search",
  data() {
    return {
      repoInfo: null,
      search: "",
      temp: []
    };
  },
  components: {
    PackageListComponent
  },
  mounted() {
    this.repoInfo = this.$store.state.packages;
  },
  computed: {
    toDisplay() {
      if (!this.repoInfo) return;
      if (!this.search || this.search == undefined) return;
      var tmpSearch = this.search;
      var result = [];
      this.repoInfo.forEach(element => {
        var temp = Object.keys(element).map(function(key) {
          var p = element[key];
          if (p[0] != undefined && p[0].Name != undefined) {
            if (p[0].Name.toLowerCase().includes(tmpSearch.toLowerCase())) {
              result.push(p[0]);
            }
          } else {
            if (p.Name != undefined) {
              if (p.Name.toLowerCase().includes(tmpSearch.toLowerCase())) {
                result.push(p);
              }
            }
          }
        });
      });
      return result;
    }
  }
};
</script>

<style scoped lang="scss">
.wrapper {
  margin-top: 5px;
}
.input {
  margin-top: -15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}
</style>
