<template>
  <div class="home">
    <div class="card">
      <header class="card-header" v-on:click="refreshSources">
        <a class="card-header-title is-centered">Refresh Sources</a>
      </header>
    </div>
    <div class="card">
      <header class="card-header" v-on:click="toggleAdd">
        <a class="card-header-title is-centered">Add Repository</a>
      </header>
    </div>
    <form v-on:submit.prevent="addRepository">
      <input
        ref="addInput"
        class="input is-invisible"
        type="text"
        placeholder="link to repo"
        v-model="addString"
      >
    </form>
    <div class="wrapper">
      <source-list-component v-for="item in repositories" :key="item" :Repository="item"></source-list-component>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import SourceListComponent from "@/components/SourceListComponent";

export default {
  name: "sources",
  beforeUpdate() {
    if (localStorage.repositories) {
      this.repositories = JSON.parse(localStorage.repositories);
    }
  },
  data() {
    return {
      repositories: [],
      addString: ""
    };
  },
  components: { SourceListComponent },
  mounted() {
    if (
      localStorage.getItem("repositories") != undefined &&
      localStorage.repositories !== ""
    ) {
      this.repositories = JSON.parse(localStorage.repositories);
    } else {
      this.repositories = [];
    }
  },
  methods: {
    addRepository() {
      if (this.addString && !this.repositories.includes(this.addString)) {
        this.repositories.push(this.addString);
        this.addString = "";
        this.addToggle = false;
        localStorage.setItem("repositories", JSON.stringify(this.repositories));
      }
    },
    refreshSources() {
      this.$store.commit("refreshPackages");
    },
    removeRepo(repo) {
      if (
        localStorage.getItem("repositories") != undefined &&
        localStorage.repositories !== ""
      ) {
        this.repositories.splice(this.repositories.indexOf(repo));
        localStorage.setItem("repositories", JSON.stringify(this.repositories));
      } else {
        this.repositories = [];
      }
    },
    toggleAdd() {
      this.$refs["addInput"].classList.toggle("is-invisible");
      this.$refs["addInput"].focus();
    }
  }
};
</script>

<style scoped lang="scss">
.wrapper {
  background-color: #99d066;
  margin: 5px;
}

.input {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
</style>
