<template lang="html">
  <div class="wrapper">
  <div class="card" v-if="Package.Name != undefined">
    <header class="card-header" v-on:click="collapsed = !collapsed">
      <p class="card-header-title">
        {{ Package.Name}} ({{Package.Package}})
      </p>

      <a href="#" class="card-header-icon" aria-label="collaps">
        <span class="icon" v-if="collapsed">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
        <span class="icon" v-if="!collapsed">
          <i class="fas fa-angle-left" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <div class="card-content" v-if="!collapsed">
      <div class="content">
        {{Package.Description}}
      </div>
    </div>
    <footer class="card-footer" v-if="!collapsed">
      <a href="#" class="card-footer-item">Install</a>
      <a href="#" class="card-footer-item" v-if="Package.Author.name == undefined">{{Package.Author}}</a>
      <a href="#" class="card-footer-item" v-if="Package.Author.name != undefined" >{{Package.Author.name}}</a>

    </footer>
    
  </div>
</div>

</template>

<script lang="js">
  export default  {
    name: 'package-list-component',
    props: [ "Package" ],
    mounted() {
    },
    data() {
      return {
        collapsed: true
      }
    },
    methods: {

    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
a {
  text-decoration: none;
  color: black;
}
</style>
