<template lang="html">

<div class="wrapper">
    <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        {{ Repository }}
      </p>

    </header>
    
    <footer class="card-footer" v-on:click="remove">
      <a href="#" class="card-footer-item">Remove</a>
    </footer>
  </div>
</div>

</template>

<script lang="js">
  export default  {
    name: 'source-list-component',
    props: [ "Repository" ],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {
      remove() {
        this.$parent.removeRepo(this.$props.Repository);
      }
    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
.source-list-component {
}
</style>
