<template>
  <div id="app">
    <div class main-content>
      <span class="is-pulled-right has-text-danger" v-on:click="toggleLog = !toggleLog">
        <i class="material-icons">announcement</i>
      </span>
      <h1 class="brand">
        cyph
        <a href="https://twitter.com/0xNiklas">
          <small>by 0xNiklas</small>
        </a>
      </h1>

      <div id="nav">
        <div class="tabs is-centered is-fullwidth is-toggle">
          <ul>
            <li>
              <router-link to="/sources">Sources</router-link>
            </li>
            <li>
              <router-link to="/search">Search</router-link>
            </li>
            <li>
              <router-link to="/packages">Packages</router-link>
            </li>
          </ul>
        </div>
      </div>
      <router-view/>
      <div class="modal is-active" v-if="toggleLog">
        <div class="modal-background" v-on:click="toggleLog = false"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Log</p>
            <span class="delete" aria-label="close" v-on:click="toggleLog = false"></span>
          </header>
          <section class="modal-card-body">{{this.$store.state.errors}}</section>
          <footer class="modal-card-foot"></footer>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "search",
  data() {
    return {
      toggleLog: false
    };
  },
  created() {
    if (
      localStorage.getItem("repositories") != undefined &&
      localStorage.repositories !== ""
    ) {
      this.repositories = JSON.parse(localStorage.repositories);
      this.$store.commit("refreshPackages");
    } else {
      this.repositories = [];
    }
  },
  components: {},
  mounted() {}
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.modal-card {
  height: 100%;
}
.brand {
  color: #7cb342;
  font-size: 32px;
  font-weight: 700;
}
.brand :first-child {
  color: #616161;

  font-size: 24px;
  font-weight: 300;
}
</style>
